Assets/Resources/Config/Cookbook.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="recipeType">
	<xs:element name="Ingredient" type="xs:string" minOccurs="1" maxOccurs="3"/>
	<xs:element name="Food" type="xs:string" minOccurs="1" maxOccurs="1"/>
</xs:complexType>

<xs:element name="Recipes"/>
	<xs:complexType>
		<xs:element name="Recipe" type="recipeType" minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>
</xs:element>

</xs:schema>
